nav {
    background-color: #05668d;
    min-width: 100%;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

li#hamburger:hover,
#hamburger.clicked {
    cursor: pointer;
}

#dropdown {
    align-items: flex-start;
    background-color: white;
    border: 2px solid #05668d;
    display: none;
    flex-direction: column;
    margin-top: 1rem;
    overflow: hidden;
    position: absolute;
}

#dropdown li {
    border-bottom: 1px solid lightgray;
    padding: 1rem;
    width: 100%;
}

#dropdown li:hover {
    background-color: #05668d;
    color: white;
}