section {
    width: 100%;
}

.storeWrapper {
    border-radius: 8px;
    margin: .8rem;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
}

.storeWrapper a {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.storeWrapper h2,
.storeWrapper span {
    font-size: 1.5rem;
    font-weight: bold;
}