html {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

#root {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#loadingPage {
  background-color: #66cc66;
  color: white;
}

img {
  height: 2rem;
  width: 2rem;
}

section {
  text-align: center;
}

#homePageList {
  display: flex;
  flex-direction: column;
}

#homePageList a {
  margin: 0 10px 25px;
  padding: 10px 0
}

#homePageList span {
  font-weight: bold;
  margin: 0;
}

#giftcardsList {
  background-color: #66CC66;
}
#rewardsList {
  background-color: #FFBA80;
}

#giftcardsList,
#rewardsList {
  color: white;
}

#giftcardsList h2,
#rewardsList h2 {
  margin: 0;
}